fastapi>=0.111.0
uvicorn>=0.30.0
gunicorn>=21.2.0
redis>=5.0.0
cryptography>=41.0.0
pydantic>=2.7.0
user-agents>=2.2.0
geoip2>=4.7.0
requests>=2.32.0
SQLAlchemy>=2.0.0
psycopg2-binary>=2.9.9
prometheus_client>=0.16.0
python-dotenv>=1.0.0
aiogram==3.*